* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

@font-face {
    font-family: 'skyerregular';
    src: url("https://monkey-market.netlify.app/Fonts/fontsfree-net-skyer-400-webfont.woff2") format('woff2'),
         url("https://monkey-market.netlify.app/Fonts/fontsfree-net-skyer-400-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'skyerregular', sans-serif;
    font-weight: 1000;
    font-size: 1.2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100vw;
    min-height: 10vh;
    background-color: #DAA588;
}

.logotip {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #FFFFFF;
    font-size: 2rem;
}

.logotip img {
    height: 50px;
}

.logotip .name {
    margin-left: 1rem;
}

.linki {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
.linki li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linki li a {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    margin-right: 2rem;
    padding-bottom: 0.25rem;
}

.linki li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.4s ease-in-out;
}

.linki li a:hover::before {
    width: 100%;
}

nav #burgerID {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 4vh;
    margin-right: 2rem;
}

nav #burgerID:hover {
    cursor: pointer;
}

nav .burger div {
    width: 30px;
    height: 4px;
    border-radius: 4px;
    padding: 1px;
    background-color: #FFFFFF;
    transition: 0.5s;
} 

nav .burger_cross div {
    width: 35px;
    height: 4px;
    border-radius: 4px;
    padding: 1px;
    background-color: #FFFFFF;
    transition: 0.5s;
}

nav .burger_cross .line1 {
    transform: rotateZ(45deg);
    margin-bottom: -1.2vh;
}

nav .burger_cross .line3 {
    transform: rotateZ(-45deg);
    margin-top: -1.2vh;
}

nav .burger_cross .line2 {
    display: none;
}

.drop_down {
    display: none;
    position: relative;
    width: 300px;
    height: 100vh;
    transform: translateX(100vw);
    background-color: #DAA588;
    transition: 0.5s;
    flex-direction: column;
    align-items: center;
}

.drop_down .drop_down_linki {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 5vh;
}
.drop_down .drop_down_linki li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}

.drop_down .drop_down_linki li a {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    margin-right: 2rem;
    padding-bottom: 0.25rem;
}

.drop_down .drop_down_linki li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #FFFFFF;
    transition: width 0.4s ease-in-out;
}

.drop_down .drop_down_linki li a:hover::before {
    width: 100%;
}

header {
    margin-top: -1px;
    min-height: 90vh;
}

footer {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    background-color: #DAA588;
    justify-content: space-between;
    padding: 20px;
    margin-top: -1px;
}

footer .footer-top {
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    margin-bottom: 40px;
}

footer .footer-top .kontakt ul {
    margin-top: 5px;
}

footer .footer-top .kontakt ul li {
    display: flex;
    align-items: center;
}


footer .footer-top .kontakt ul li a {
    font-size: 1rem;
    margin-left: 10px;
    color: #FFFFFF;
}

footer .footer-top .kontakt ul li img {
    width: 20px;
}

footer .footer-top .vec ul li a {
    color: #FFFFFF;
    font-size: 1rem;
}

footer .footer-bottom {
    font-size: 0.8rem;
}

footer .footer-bottom a {
    color: #FFFFFF;
}

@media screen and (max-width: 860px) {
    nav .linki {
        display: none;
    }

    nav #burgerID {
        display: flex;
    }

    .drop_down {
        display: flex;
    }

    .drop_down .drop_down_linki {
        display: flex;
    }
}

@media screen and (max-width: 425px) {
    nav .logotip {
        margin-left: 0;
    }

    nav #burgerID {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 375px) {
    nav .burger div {
        width: 25px;
        height: 2px;
        padding: 1px;
    }

    nav .burger_cross div {
        width: 24px;
        height: 2px;
    }
}

@media screen and (max-width: 340px) {
    nav .logotip .name {
        font-size: 1.4rem;
    }
}