* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: 'Share Tech Mono', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    background-color: #171123;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    height: 20vh;
    background-color: #171123;
}

.logotip {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: #EEF0EB;
    font-size: 3rem;
}

.logotip img {
    height: 50px;
}

.logotip .name {
    margin-left: 1rem;
}

.linki {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.linki li {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linki li a {
    display: inline-block;
    position: relative;
    color: #EEF0EB;
    margin-right: 4rem;
    padding-bottom: 0.25rem;
}

.linki li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #EEF0EB;
    transition: width 0.4s ease-in-out;
}

.linki li a:hover::before {
    width: 100%;
}

nav #burgerID {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 4vh;
    margin-right: 2rem;
}

nav #burgerID:hover {
    cursor: pointer;
}

nav .burger div {
    width: 25px;
    height: 2px;
    border-radius: 4px;
    padding: 1px;
    background-color: #EEF0EB;
    transition: 1s;
} 

nav .burger_cross div {
    width: 25px;
    height: 2px;
    border-radius: 4px;
    padding: 1px;
    background-color: #EEF0EB;
    transition: 1s;
}

nav .burger_cross .line1 {
    transform: rotateZ(45deg);
    margin-bottom: -1.1vh;
}

nav .burger_cross .line3 {
    transform: rotateZ(-45deg);
    margin-top: -1.1vh;
}

nav .burger_cross .line2 {
    display: none;
}

header {
    overflow: hidden;
    height: auto;
    background-color: #EEF0EB;
}

header .main {
    height: 80vh;
    background-color: #B4B8AB;
}

header .second {
    height: 250px;
}

header .second::before {
    content: "Soletfalli metus faucibus porta corrumpit elaboraret egestas graeci leo intellegat an commodo quod intellegebat intellegebat facilisis.  Mollisgraece consul venenatis singulis aenean.  Acmaluisset salutatus senserit detraxit autem comprehensam reprimique numquam pro.";
    position: absolute;
    transform: translateY(75px);
    z-index: 2;
    padding: 10px;
    text-align: center;
}

header .second::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 120%;
    z-index: 1;
    transform: rotate(-1deg) translateX(-30px) translateY(-35px);
    background-color: #7A6563;
}


.drop_down {
    display: none;
    position: absolute;
    z-index: 10;
    width: 300px;
    height: 90vh;
    transform: translateX(100vw);
    background-color: #171123;
    transition: 0.5s;
    flex-direction: column;
    align-items: center;
}

.drop_down .drop_down_linki {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    margin-top: 5vh;
}
.drop_down .drop_down_linki li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}

.drop_down .drop_down_linki li a {
    display: inline-block;
    position: relative;
    color: #EEF0EB;
    margin-right: 2rem;
    padding-bottom: 0.25rem;
}

.drop_down .drop_down_linki li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #EEF0EB;
    transition: width 0.4s ease-in-out;
}

.drop_down .drop_down_linki li a:hover::before {
    width: 100%;
}

header {
    margin-top: -1px;
    min-height: 90vh;
}

footer {
    color: #EEF0EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    background-color: #171123;
    justify-content: space-between;
    padding: 20px;
    margin-top: -1px;
}

footer .footer-top {
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    margin-bottom: 40px;
}

footer .footer-top .kontakt ul {
    margin-top: 5px;
}

footer .footer-top .kontakt ul li {
    display: flex;
    align-items: center;
}


footer .footer-top .kontakt ul li a {
    font-size: 1rem;
    margin-left: 10px;
    color: #FFFFFF;
}

footer .footer-top .kontakt ul li img {
    width: 20px;
}

footer .footer-top .vec {
    margin-right: 2.2rem;
}

footer .footer-top .vec ul li a {
    color: #EEF0EB;
    font-size: 1rem;
}

footer .footer-bottom {
    font-size: 0.8rem;
    margin-right: 1rem;
}

footer .footer-bottom a {
    color: #EEF0EB;
}

@media screen and (max-width: 890px) {
    nav {
        flex-direction: row;
        height: 10vh;
        justify-content: space-between;
    }

    nav .logotip {
        margin-top: 0;
        margin-left: 1rem;
        font-size: 2.5rem;
    }

    nav .linki {
        display: none;
    }

    nav #burgerID {
        display: flex;
        margin-left: 1rem;
    }

    header .main {
        height: 90vh;
    }

    header .drop_down {
        display: flex;
    }

    header .drop_down .drop_down_linki {
        display: flex;
    }
}

@media screen and (max-width: 425px) {
    nav .logotip {
        margin-left: 0;
        font-size: 2rem;
    }

    nav #burgerID {
        margin-right: 1rem;
    }

    footer .footer-top {
        font-size: 1rem;
    }

    footer .footer-top .kontakt ul li a {
        font-size: 0.8rem;
        margin-left: 5px;
    }

    footer .footer-top .kontakt ul li img {
        width: 18px;
    }

    footer .footer-top .vec ul li a {
        font-size: 0.8rem;
    }

    footer .footer-bottom {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 390px) {
    nav .logotip {
        font-size: 2rem;
    }

    nav .burger div {
        width: 25px;
        height: 1px;
        padding: 1px;
    }

    nav .burger_cross div {
        width: 25px;
        height: 1px;
        padding: 1px;
    }

    footer .footer-top .vec {
        font-size: 0.8rem;
    }

    footer .footer-top .kontakt {
        font-size: 0.8rem;
    }

    footer .footer-top .kontakt ul li a {
        font-size: 0.5rem;
        margin-left: 4px;
    }

    footer .footer-top .vec ul {
        margin-top: 5px;
    }

    footer .footer-top .kontakt ul li img {
        width: 18px;
    }

    footer .footer-top .vec ul li a {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 340px) {
    nav .logotip {
        font-size: 1.5rem;
    }

    footer .footer-top {
        font-size: 0.8rem;
    }

    footer .footer-top .kontakt ul li a {
        font-size: 0.6rem;
        margin-left: 3px;
    }

    footer .footer-top .kontakt ul li img {
        width: 16px;
    }

    footer .footer-top .vec ul li a {
        font-size: 0.6rem;
    }
}
