* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

nav .uga_buga {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
}

nav .uga_buga::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #131243;
}

nav .nek_spodenj_tekst {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}